*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
a {
    text-decoration: none;
}
.continer {
    width: 100%;
    height: 100vh;
}
.logo {
    position: absolute;
    top: 80px;
    left: 80px;
}
.logo a {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    text-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    letter-spacing: 1;
    color: #2f2e41;
}
.searcharia {
    top: 80px;
    right: 80px;
    position: fixed;
    width: 170px;
    height: 45px;
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
    box-shadow: 2px 2px 30px rgba( 167, 158, 245, 0.2);
    box-sizing: border-box;
    z-index: 1;
    border: 1px solid rgba(167, 158, 145, 0.1);
}
.searchbox input {
    border: none;
    width: 100px;
    height: 20px;
    outline: none;
    background-color: transparent;
    color: black;
    font-family: calibari;
    font-size: 1rem;
    padding: 0px 10px;

}