*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
a {
    text-decoration: none;
}
.continer {
    width: 100%;
    height: 100vh;
}
.logo {
    position: absolute;
    top: 80px;
    left: 150px;
}
.logo a {
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    letter-spacing: 1;
    color: #2f2e41;
}
.searcharia {
    top: 80px;
    right: 150px;
    position: fixed;
    width: 280px;
    height: 80px;
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
    box-shadow: 2px 2px 30px rgba( 167, 158, 245, 0.2);
    box-sizing: border-box;
    z-index: 1;
    border: 1px solid rgba(167, 158, 145, 0.1);
}
.searchbox input {
    border: none;
    width: 190px;
    height: 30px;
    outline: none;
    background-color: transparent;
    color: black;
    font-family: calibari;
    font-size: 1rem;
    padding: 0px 10px;
}
.searchbox input::placeholder{
    color: #1d1d1d;
    font-weight: 500;
    letter-spacing: 5px;
    font-size: 20px;
    font-family: poppins;
}
.section1{
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translate(-15%,-50%);
}
.section1 img{
    height: 320px;
}
.section2{
    position: absolute;
    top: 60%;
    left: 80%;
    transform: translate(-50%, -80%);
}
.section2 h1, h2{
    font-family: sans-serif;
    font-weight: bold;
    margin: 0px;
    line-height: 70px;
    font-size: 70px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.08);
    letter-spacing: 4px;
    color: #3d3d4a;
    text-transform: uppercase;
}
span{
    color: #7a72ff;
}
.section2 h1{
    letter-spacing: 35px;
}
.btn{
    width: 170px;
    height: 50px;
    padding: 7px;
    background-color: #2f2e41;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    border-radius: 10% 10%  10% 10% /50% 50% 50% 50% ;
    margin-top: 20px;
    color: #fff;
    font-family: calibri;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    border: transparent !important;
    font-size: 25px;
}
.btn:hover{
    color: #ffff;
    background-color: #6e64ff;
    transition: all ease 0.5s;
}
.icon{
    background-color: #ffff;
    position: fixed;
    left: 50px;
    top: 40%;
    transform: translate(-50%);
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    padding: 8px 5px;
    z-index: 1;
}
.icon a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 15px;
}

.icon a:hover .fa-facebook-f{
    color: #3b5998;
    
}
.icon a:hover .fa-twitter{
    color: #00acee;
}
.icon a:hover .fa-youtube{
    color: #ff0000;
}
.icon a:hover .fa-instagram{
    color: #3f729b;
}
.productsection{
    width: 85%;
    background-color: #ffff;
    box-shadow: 2px 2px 30px rgba( 167, 158, 245, 0.2);
    display: flex;
    margin: 20px auto;
    flex-direction:column ;
    align-items: center;
    padding: 40px 20px;
    margin-top: -60px;
    position: relative;
    background-size: 1000px;
    border-radius: 10px;
}
.productsection > h3{
    margin: 10px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.05);
    font-family: myriad pro;
    font-size: 2ram;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 700;
    color: #323543;
}
.product{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   margin: 5px 0px;
   width: 100%;
    
}
 .productbox {
    width: 290px;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    margin: 10px 30px;
 }

.productbox img{
   
    height: 180px;
}
.productbox h6{
    color: #dd4d4d70;
    font-family: myriad pro;
    font-size: 1.3rem;
    letter-spacing: 0.5;
    padding: 10px;
}
.productbox p{
    color: black;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 5px;
    padding-bottom: 10px;
}
.productbox a{
    color: #2c2c2c;
    font-family: poppins;
    font-size: 1rem;
    
}
.bbtn{
    position: absolute;
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: calibri;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
    border-radius: 15% 15% 15% 15% / 50% 50% 50% 50%;
    background: linear-gradient(120deg, #6b60ac 20%,#a166f4);
    color: #ffff;
    display: none;
    display: none;
    animation: fade 0.2s;
}
.productbox:hover .bbtn{
    display: flex;
}
.productbox:hover {
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #ffff;
}
.productbox:hover a{
    color: #fff;
    transition: all ease 0.3s;
}
.about {
    display: flex;
    width: 85%;
    margin: 50px auto;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    margin-bottom: 150px;
}
.us {
    width: 40%;
    font-family: myfiad pro;
}
.us img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.us h1{
    color: #333333;
    font-size: 3.5rem;
    margin: 0px;
    font-family: serif;
}
.us h4{
    color: #333333;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
    
}
.us p{
    font-size: 1rem;
    letter-spacing: 0.5px;
}
.text{
    width: 100%;
    height: 250px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgba(0,0,0,0.03);
}
.text h3{
    font-size: 2rem;
    color: rgba(56, 56, 56,);
}
.bar{
    width: 500px;
    background-color: #fff;
    border-radius: 7% 7% 7% 7% / 50% 50% 50% 50%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    box-shadow: 2px 5px 30px rgba(0,0,0,0.1);
    margin-top: 30px;
}
.bar input{
    border: none;
    width: 85%;
    height: 40px;
    font-size: 18px;
    outline: none;
}
.batton{
    width: 120px;
    height: 40px;
    background-color: #202020;
    border-radius: 20px;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 2px 20px 30px rgba(0,0,0,0.1);
    font-size: 1rem;
}
.batton:hover {
    background-color: #6b60ec;
    transition: all ease 0.5s;
}
footer{
    background-color: black;
    padding: 20px;
}
footer p{
    text-align: center;
    color: #fff;
}
/*Desktop*/



/*Tablet View*/


/*Mobile View*/
@media (max-width: 480px){
  .logo{
    top:30px;
    left: 30px;
  }
  .logo a{
    font-size: 20px;
  }
  .searcharia{
   width: 170px;
   height: 45px;
   top: 20px;
   right: 43px;
  }
  .searchbox input{
    width: 113px;
    height: 30px;
    font-size: 0.5rem;
  }
  .searchbox input::placeholder{
    font-size: 10px;
    padding: 5px;
  }
  .section1{
    left: 9%;
    top: 21%;
  }
  .section1 img{
    height: 103px
  }
  .section2 {
    top: 28%;
    left: 83%;
  }
  .section2 h1, h2{
    letter-spacing: 7px;
    line-height: 29px;
    font-size: 25px;
  }
  .btn{
    width: 95px;
    height: 35px;
    padding: 1px;
    font-weight: 100;
    letter-spacing: -0.5px;
    font-size: 22px;
    margin-top: 7px;
  }
  .icon{
    left: 28px;
    top: 29%;
    padding: 0px;
  }
  .icon a{
    padding: 17px 9px;
  }
  .productsection {
    width: 95%;
    margin: 1px auto;
    padding: 4px 4px;
    margin-top: -366px;
    background-size: 750px;
    margin-left: 53px;
  }

  .productsection > h3{
    margin-top: 10x;
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 2px;
  }
  .productbox {
    width: 136px;
    height: 144px;
    margin: 21px 0px;
  }
  .productbox img {
    height: 51px;
  }
  .productbox h6{
    font-size: 12px;
    letter-spacing: 0.25px;
    padding-top: 5px;
  }
  .productbox p{
    font-weight: 50;
    letter-spacing: 0px;
    padding-bottom: 0px;
  }
  .productbox a{
    font-size: 10px;
  }
  .bbtn{
    width: 71px;
    height: 22px;
    left: 52%;
    bottom: -30px;
  }
  .about {
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    margin-bottom: 400px;
    margin-left: 20px;
  }
  .us{
    width: 40%;
  }
  .us h1 {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 18px;
  }
  .us h4{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 100;
    letter-spacing: 1px;
  }
 .us p{
    font-size: 8px;
    letter-spacing: 0px;

 }
 .text h3{
    font-size: 1rem;
 }
 .bar{
    width: 300px;
    height: 50px;
 }
 .batton{
    width: 65px;
    height: 30px;
    border-radius: 14px;
    font-size: 13px;
 }
.footer {
    wieth:120%;
    text-align:center;
}
